<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><i class="fa-brands fa-pagelines"></i> Plant Nursery</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/about">About Us</a> 
                <a class="nav-link" href="/contact">Contact Us</a>
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search" action="/home/search" method="GET">
                    <input class="form-control me-2 search-inp" type="search" name="query" placeholder="Search plants" aria-label="Search">
                    <button class="btn-outline-success search-btn" type="submit" aria-label="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>            
            <div class="navbar-nav ms-auto">


                <div class="auth-nav">
                    
                    <% if(currentAdmin){ %>
                        <div class="plant-type">
                            <a href="/home/new"><i class="fa-solid fa-seedling"></i>New Plant</a>
                        </div>
                    <% } %>

                    <% if(currentUser){ %>
                        <div class="wishlist">
                            <a href="/wishlist"><i class="fa-solid fa-heart"></i></a>
                        </div>
                        <div class="cart">
                            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    <% } %>
                </div>


               
                <div class="dropstart">
                    <button type="button" class="user-btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </button>
                    <ul class="dropdown-menu">

                        <% if(!currentUser && !currentAdmin){ %>
                            <li><a class="dropdown-item" href="/user/login">User</a></li>
                            <li><a class="dropdown-item" href="/admin/login">Admin</a></li>
                        <% } %>

                        <% if(currentUser){ %>
                            <li><a class="dropdown-item"  href="/user/showProfile">View Profile</a></li>
                            <li><a class="dropdown-item"  href="/user/orderHistory">View Order History</a></li>
                            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                        <% } %>

                        <% if (currentAdmin) { %>
                            <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                        <% } %>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>