<div class="sub-nav">
    <div class="plant-select">
        <div class="general-nav">
            <div class="plant-type">
                <a href="/home/indoorPlants"><p>Indoor Plants</p></a>
            </div>
            <div class="plant-type">
                <a href="/home/outdoorPlants"><p>Outdoor Plants</p></a>
            </div>
            <div class="plant-type">
                <a href="/home/succulents"><p>Succulents</p></a>
            </div>
            <div class="plant-type">
                <a href="/home/herbs"><p>Herbs</p></a>
            </div>
            <div class="plant-type">
                <a href="/home/flowers"><p>Flowers</p></a>
            </div>
        </div>
    </div>
</div>